<section id="board" role="grid" aria-label="{{ labels.board }}">
  <figure data-tile="tile_1" role="button" tabindex="0"></figure>
  <figure data-tile="tile_2" role="button" tabindex="0"></figure>
  <figure data-tile="tile_3" role="button" tabindex="0"></figure>
  <figure data-tile="tile_4" role="button" tabindex="0"></figure>
  <figure data-tile="tile_5" role="button" tabindex="0"></figure>
  <figure data-tile="tile_6" role="button" tabindex="0"></figure>
  <figure data-tile="tile_7" role="button" tabindex="0"></figure>
  <figure data-tile="tile_8" role="button" tabindex="0"></figure>
  <figure data-tile="tile_9" role="button" tabindex="0"></figure>
  <span id="win_line" aria-hidden="true"></span>
</section>

