<dialog id="options_modal" aria-label="{{ labels.options }}">
  <section id="options_menu" class="controls" aria-label="{{ labels.options }}">
    <section class="color-options" aria-label="{{ labels.markerColors }}">
      <tic-color-picker
        marker="circle"
        label="{{ labels.circleColor }}"
        value="{{ circleColor }}"
      ></tic-color-picker>
      <tic-color-picker
        marker="cross"
        label="{{ labels.crossColor }}"
        value="{{ crossColor }}"
      ></tic-color-picker>
    </section>
    <button-ripple id="reset">
      <material-icon>{{ labels.resetIcon }}</material-icon>
      <span>{{ labels.reset }}</span>
    </button-ripple>
    <button-ripple id="history_toggle">
      <material-icon>{{ labels.historyIcon }}</material-icon>
      <span>{{ labels.history }}</span>
    </button-ripple>
    <button-ripple id="mute_toggle">
      <material-icon>{{ muteIcon }}</material-icon>
      <span>{{ labels.sound }}</span>
    </button-ripple>
    <button-ripple id="reset_game">
      <material-icon>{{ labels.menuIcon }}</material-icon>
      <span>{{ labels.menu }}</span>
    </button-ripple>
    <p id="options_version">
      <material-icon>{{ labels.infoIcon }}</material-icon>
      <tic-app-footer inline></tic-app-footer>
    </p>
  </section>
</dialog>
