<header>
  <section id="player_1">
    <span class="name">
      <span class="player-name">{{ circleName }}</span>
      <span class="marker">({{ circleMarker }})</span>
    </span>
    <span class="result">{{ circleScore }}</span>
  </section>
  <section class="divider">:</section>
  <section id="player_2">
    <span class="name">
      <span class="player-name">{{ crossName }}</span>
      <span class="marker">({{ crossMarker }})</span>
    </span>
    <span class="result">{{ crossScore }}</span>
  </section>
</header>

